#djangoql-qm-container {
  position: relative;
  display: inline-block;
}

.djangoql-qm-buttons {
  font-size: 26px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
  line-height: 0.9;
}

.djangoql-qm-star:hover {
  cursor: pointer;
  color: #79aec8;
}

.djangoql-qm-star.starred {
  color: #ffb400;
}

.djangoql-qm-toggle:hover {
  cursor: pointer;
  color: #79aec8;
}

#djangoql-qm-search {
  width: 80%;
}

#djangoql-qm-content {
  display: none;
  position: absolute;
  top: 10px;
  left: -100px;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 5px 5px;
  z-index: 1001; /* Django right toolbar is using z-index: 1000 */
}

#djangoql-qm-results-wrapper {
  padding: 2px 0;
  max-height: 295px;
  word-wrap: break-word;
  overflow: auto;
  overflow-x: hidden;
}

.djangoql-qm-query {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 5px;
}

.djangoql-qm-text {
  font-size: 10px;
  padding: 5px;
}

.djangoql-qm-text:hover {
  cursor: pointer;
  color: #79aec8;
}

.djangoql-qm-public-tooltip {
  font-size: 8px;
  color: #AAA;
  text-align: right;
}

.djangoql-qm-query-control {
  text-align: right;
}

.djangoql-qm-query-control span {
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  padding: 2px;
}

.djangoql-qm-delete {
  color: #a00000;
}

.djangoql-qm-delete:hover {
  color: #f00000;
}

.djangoql-qm-share:hover {
  color: #308000;
}

.djangoql-qm-share.public {
  color: #70D000;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}